<ul>
<% @doctor.appointments.each do |appointment| %>
	<li><%= appointment.appointment_datetime.to_formatted_s(:long)%></li>
	<li><%= link_to appointment.patient.name, patient_path(appointment.patient.id) %></li><br>
<%end%>
</ul> 