<h2>Appointment: <%= @appointment.appt_time %></h2>

Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
